src/main/mule/test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="cf228f98-3c91-45ac-b91e-37191dfce927" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="testFlow" doc:id="f70b9497-00b3-45a6-a9d0-8c9646a5e6bb" >
		<http:listener doc:name="Listener" doc:id="8bb12d41-c911-43c5-876e-274a1ff0d9c1" config-ref="HTTP_Listener_config" path="/tes"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="52f8eaa1-9850-4e0f-8609-835a18c7801c" />
		<ee:transform doc:name="Transform Message" doc:id="b922d63b-5fbb-4822-abf7-4bf0a40b2796" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
